*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 400;
}
#root {
  min-width: 726px;
}

.app{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  display: block;
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 250px;
  height: 100%;
}

.navbar .logo-container{
  padding: 16px;
}

.navbar .logo-container h3{
  margin: 10px 0;
  letter-spacing: 4px;
  font-size: 24px;
}

main{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

ul{
  padding: 0;
  margin: 0;
}

.navigation{
  display: flex;
  flex-direction: column;
  padding: 64px 0;
}

li{
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
}

.navigation li{
  line-height: 1.5;
  color: #757575;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  font-family: Roboto;
  font-weight: bold;
}

li:hover{
  color: #000;
  background-color: #ccc;
}

.mini-navigation{
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 94%;
}

.mini-navigation li a{
  display: block;
  text-decoration: none;
  color: #000;
  width: 100%;
}

.top-baner .header{
  margin-left: 250px;
  padding: 0 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-baner .header .title{
  text-transform: capitalize;
  margin: 24px 0;
}

.header .icons{
  position: relative;
}

.header .icons *{
  margin: 0 5px;
  cursor: pointer;
}

.header .icons .count{
  position: absolute;
  top: -5px;
  left: -7px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  font-size: 12px;
  border-radius: 50%;
  font-weight: bold;
}

.baner-image{
  position: relative;
  margin-left: 250px;
}

.baner-image img{
  width: 97%;
  padding: 0 16px;
}

.baner-image .baner-description{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 90%;
  padding: 0 16px;
}

.baner-image .baner-description .baner-title{
  font-size: 64px;
  margin: 10px 0;
  color: #fff;
}

.baner-image .baner-description .baner-desc{
  text-transform: uppercase;
  margin: 10px 0;
  color: #fff;
}

.baner-image button{
  background-color: #000;
  border: none;
  height: 50px;
}

.baner-image button a{
  padding: 12px 24px !important;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.main{
  margin-left: 250px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-list .count-product{
  margin: 10px 0 15px 15px;
}

.product-list .single-product{
  position: relative;
  width: 25%;
  height: 350px;
  margin: 0 15px;
}

.product-list .single-product a{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}

.product-list .single-product a img{
  /* width: 100%; */
  height: 80%;
  object-fit: cover;
  float: left;
}

.product-list .single-product a p{
  height: 20%;
  margin: 20px 0;
}

.product-list .single-product .buy-now{
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-list .single-product .buy-now button, .controls button{
  color: #fff;
  background-color: #000;
  padding: 8px 16px;
  border: none;
}

.single-product:hover .buy-now{
  display: block;
}

.subscription{
  background-color: #000;
  color: #fff;
  margin-left: 265px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 32px 16px;
}

.subscription h1{
  margin: 10px 0 15px;
  font-size: 36px;
  width: 100%;
}

.subscription p{
  margin-bottom: 15px;
  font-size: 15px;
  width: 100%;
}

.subscription p input{
  padding: 8px;
  font-size: 15px;
  width: 98%;
  border: 1px solid #ccc;
}

.subscription button, .content button{
  background-color: #f44336;
  color: #fff;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: none;
}

button, input{
  font: inherit;
}

button:hover, button a:hover, .content svg:hover, .content button:hover, .buy-now button:hover, .controls button:hover{
  background-color: #ccc !important;
  color: #000 !important;
  cursor: pointer;
}

.contact{
  color: #000;
  background-color: #f1f1f1;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 265px;
  padding: 64px 8px;
}

.contact .column{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 8px;
}

.contact .column3 p, .column3 h4{
  text-align: left;
}

.contact .column h4{
  margin: 10px 0 12px;
  font-size: 20px;
}

.contact .column p,
.contact .column input,
.contact .column button{
  margin-bottom: 12px;
  font-size: 12px;
  padding: 8px;
}

.contact .column p{
  padding: 0;
}

.contact .column input{
  border: 1px solid #ccc;
}

.contact .column button{
  background-color: #000;
  color: #ccc;
  border: none;
  margin: 0;
}

.contact .column a{
  margin-bottom: 12px;
  color: #000;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

.icon{
  text-align: left;
  font-size: 20px;
}

.icon svg{
  margin: 2px; 

}

.icon *:hover{
  color: #ccc;
}

.footer{
  background-color: #000;
  margin-left: 265px;
  padding: 24px 0;
  color: #ccc;
  text-align: center;
}

.footer a{
  color: #fff;
  text-decoration: underline;
}

.footer a:hover{
  opacity: .6;
}

b{
  font-weight: bold !important;
}

.modal-new, .cart, .summary{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.summary{
  padding-top: 50px;
}

.modal-new .newsletter, .cart .cart-body, .summary .summary-body, .summary .summary-end{
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 32px;
  outline: 0;
  width: 900px;
  animation: zoom .6s;
}

.summary .summary-body{
  width: 1300px;
  height: 600px;
}

.newsletter .content, .cart-body .content{
  text-align: center;
  padding: 0 16px;
  color: #000 !important;
  background-color: #fff !important;
}

.content svg{
  font-size: 26px;
  float: right !important;
  background-color: transparent;
  padding: 8px 16px;
}

.content h2{
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 4px;
  font-size: 30px;
  text-align: center;
}

.content p{
  margin: 15px 0;
}

.content p input{
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

.product-details{
  padding: 16px 16px;
  display: flex;
  position: relative;
  margin-bottom: 64px;
}

.product-details img{
  width: 500px;
  margin-right: 15px;
  max-height: 400px;
}

.product-details .controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.product-details .controls button{
  width: 100px;
  padding: 8px 16px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls .buy{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.controls .buy input{
  padding: 8px;
  font-size: 15px;
  margin: 0 8px;
  border: 1px solid #ccc;
}

.controls .buy button{
  padding: 8px;
  font-size: 15px;
  margin: 0 8px;
}

.alert {
  font-size: 50px;
  background-color: #000;
  color: #fff;
}

.cart-items, .summary-list{
  max-height: 500px;
  overflow-y: scroll;
  margin-right: 10px;
  overflow-x: hidden;
}

.cart-items img, .cart-single-item img{
  width: 150px;
  max-height: 150px;
  object-fit: cover;
}

.summary-single-item img{
  width: 100px;
  max-height: 150px;
  object-fit: cover;
}

.cart-items .cart-single-item, .summary-body .summary-single-item{
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 8px;
}

.cart-items .cart-single-item *, .summary-single-item *{
  width: 25%;
  text-align: center;
}

.summary-body .content{
  position: relative;
  height: 100%;
}

.cart-single-item h4{
  width: 100%;
}

.summary-list{
  width: 50%;
}

.delivery-details{
  position: absolute;
  right: 50px;
  top: 50px;
  width: 45%;
}

.delivery-details .personal-data{
  display: flex;
  flex-direction: column;
}

.personal-data .name,
.personal-data .address,
.personal-data .contact-delivery,
.card-details .security{
  display: flex;
}

.delivery-details .personal-data .name input,
.personal-data .address-input, 
.personal-data .address input,
.personal-data .contact-delivery input,
.card-details input{
  margin: 0 16px 8px 0;
  padding: 8px;
  font-size: 15px;
  width: 94.5%;
  border: 1px solid #ccc;
}

.payment-method{
  border: 1px solid #ccc;
  margin-bottom: 8px;
  width: 97%;
}

.payment-method .option{
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.payment-method .option:hover{
  background-color: #ccc;
  cursor: pointer;
}

.payment-method .option h5{
  display: flex;
  align-items: center;
  margin: 0;
}

.payment-method .option input{
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.summary-body .content button{
  position: absolute;
  bottom: -20px;
  right: 0;
}

.summary-end .content h1{
  text-align: center;
  padding-top: 50px;
}



@media only screen and (max-width: 1300px) {
  .navbar{
    left: 0;
  }
  /* @media only screen and (max-width: 1100px) {
    main{
      margin-left: 270px !important;
    }
  } */
}

@keyframes zoom{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}